html{
  font-family: 'IBM Plex Sans', sans-serif;
  background-color: #efefef;
}

header {
  background-color: #ddd;
}

table {
  background-color: #fff;
}

li {
  background-color: #fff;
}

.logo {
  max-width: 200px;
}
